/* purgecss start ignore */
.markdown {
    & h1, & h2, & h3 {
        &:not(:first-child) {
            @apply .mt-12;
        }
    }

    & p {
        &:not(:last-child) {
            @apply .mb-10;
        }
    }

    & img {
        @apply .my-10;

        @screen md {
            @apply .max-w-none;
            margin-left: -10%;
            margin-right: -10%;
            width: 120%;
        }
    }

    & a {
        @apply .text-lg .px-1 -mx-1 .bg-gray-200;
    }
}
/* purgecss end ignore */
